:root {
	--primary-color: #f9f9f9;
	--hover-color: #1c1c1c;
	--header-color: rgba(35, 46, 17, 0.3);
	--font-color: rgb(68, 68, 68);
	--bg-color: rgba(245, 245, 245, 0.1);
	--bg-blur-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0)
	);
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	background-color: #121212;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: calc(15px + 0.390625vw);
	line-height: 1.15;
	color: var(--font-color);
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
	display: block;
	height: 60px;
	max-width: 100%;
	line-height: 1.15;
	color: #fff;
	background-color: #2c2c2c;
}

a {
	text-decoration: none;
	color: var(--font-color);
}

ul {
	list-style: none;
	margin: 0;
}

li {
	text-decoration: none;
}

img,
svg {
	vertical-align: middle;
}

.mobileHeader {
	height: 60px;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
}

h1 {
	margin: 0;
	font-weight: 400;
}

h2 {
	padding-inline: 1rem 0;
	padding-block: 0.5rem 1rem;
	letter-spacing: 0.21rem;
	font-family: 'Sigmar One', sans-serif;
	font-size: 2.4rem;
	margin: 0;
	color: #212529;
	-webkit-text-stroke: 1px #f7f7f2;
}

.desktopHeader {
	display: grid;
	grid-template-columns: 1fr minmax(200px, 40vw);
	grid-template-rows: 60px;
	padding-inline: 1rem 0;
}

.mobileHeaderName {
	font-size: 1.85rem;
	font-family: 'Sigmar One', cursive;
}

.desktopHeaderName {
	font-family: 'Sigmar One', cursive;
	/* padding-inline-start: 1rem; */
	display: flex;
	align-self: center;
}

.right {
	display: flex;
	flex-basis: 100%;
	justify-content: space-evenly;
}

.right > a {
	display: flex;
	align-items: center;
	color: #f9f9f9;
}

.right > a:hover {
	color: var(--hover-color);
}

.menuWrapper {
	position: sticky;
}

.menuUpperContent {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding-inline: 0 1rem;
	font-size: 1.2em;
}

.menuLowerContent {
	padding-inline: 3rem 1rem;
	/* margin-inline-end: 2rem; */
	z-index: 10;
	background: #f9f9f9;
}

.menuLink {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-weight: 600;
	font-size: 1.25rem;
	letter-spacing: 0.1rem;
	padding-block: 1rem;
}

.menuLink:not(:last-of-type) {
	border-bottom: 1px solid rgb(217, 217, 217);
}

.intro {
	display: block;
	height: inherit;
	margin-block-end: 1rem;
}

.introContent {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.briefAbout {
	color: var(--primary-color);
	margin-bottom: 5px;
	font-size: 2.8rem;
	font-weight: 600;
	letter-spacing: 0.01em;
	line-height: 1.25;
	padding-inline: 1rem;
}

.me {
	display: flex;
	flex-direction: column;
}

.langIcon {
	height: 48px;
	width: 48px;
}

.headshotWrapper {
	aspect-ratio: 1;
	position: relative;
}

.headshot {
	overflow-clip-margin: content-box;
	object-fit: contain;
	position: absolute;
	overflow: hidden;
	background-repeat: no-repeat;
	filter: drop-shadow(0 2px 2px #000) drop-shadow(0 3px 4px #000);
}

.techStack {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	padding-block: 1rem;
	padding-inline: 2rem;
	align-self: center;
}

.latest {
	position: relative;
	display: block;
	padding-block: 1rem 3rem;
}

.latest-lg {
	display: block;
	padding-block: 1rem;
}

.latestCards .carousel {
	height: 31.25rem;
}

.latestCards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	margin: 4.6875rem 0;
	padding: 0 0.78125rem;
	justify-content: space-between;
}

.projCard {
	flex: 0;
	font-weight: 500;
	height: 100%;
	width: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.projCard:not(:last-child) {
	margin-bottom: 40px;
}

.projCard:before .projCardInner:before {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(38%, transparent),
		to(rgba(0, 0, 0, 0.5))
	);
	background-image: linear-gradient(
		180deg,
		transparent 38%,
		rgba(0, 0, 0, 0.5)
	);
	border-radius: 1.25rem;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.projCardInner {
	height: 100%;
	-webkit-box-direction: normal;
	border-radius: 1.25rem;
	border-radius: 1.25rem;
}

.projCardWrapper:hover {
	-webkit-transform: translateY(-0.25rem);
	transform: translateY(-0.25rem);
}

.projCardLink {
	display: block;
	height: 100%;
	position: relative;
	aspect-ratio: 1 / 1;
}

.projCardPic {
	position: absolute;
	overflow-clip-margin: content-box;
	object-fit: cover;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	border-top-left-radius: 1.25rem;
	border-top-right-radius: 1.25rem;
	opacity: 1;
}

.projCardInfo {
	/* backdrop-filter: blur(135px); */
	background-color: rgba(255, 255, 255, 0.09);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	-webkit-box-orient: vertical;
	z-index: 3;
	border-bottom-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	padding-inline: 2rem;
}

.projCardTitle {
	width: 100%;
	text-align: center;
}

.projCardDesc {
	text-align: center;
}

.projCardActions {
	color: #f9f9f9;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.certified {
	padding-block: 2rem;
}

.certifications {
	padding-inline: 2rem;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3rem;
	padding-block: 2rem;
}

.certPic {
	overflow-clip-margin: content-box;
	object-fit: contain;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
}

.upper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	padding-inline: 0 1rem;
	margin-block-end: 1rem;
}

.lower {
	display: flex;
	justify-content: center;
}

.footer {
	display: flex;
	flex-flow: column;
	text-align: center;
	font-weight: 300;
	color: #f9f9f9;
}

@media (min-width: 700px) {
	.introContent {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		justify-content: space-evenly;
	}
	.briefAbout {
		padding-inline: 1rem 0;
		margin-block: auto;
		font-size: 3.45rem;
	}
}

@media (min-width: 800px) {
	.briefAbout {
		font-size: 3.64rem;
		line-height: 1.36;
	}
}

@media (min-width: 900px) {
	.briefAbout {
		font-size: 4rem;
	}
}

@media (min-width: 1000px) {
	.briefAbout {
		font-size: 4.5rem;
	}
	h2 {
		padding-inline: 3rem;
	}
}

@media (min-width: 1200px) {
	.briefAbout {
		font-size: 5rem;
		line-height: 1.45;
		align-self: center;
	}
}

@media (min-width: 1600px) {
	main {
		max-width: 1600px;
		margin-inline: auto;
	}
	.briefAbout {
		font-size: 6rem;
	}
}

@media (min-width: 2000px) {
	.briefAbout {
		padding-inline: 3rem;
	}
}
